/_translationstatus.txt
/ar.js
/bg.js
/ca.js
/cs.js
/cy.js
/de.js
/el.js
/en.js
/eo.js
/es.js
/et.js
/fa.js
/fi.js
/fr-ca.js
/fr.js
/gl.js
/he.js
/hr.js
/hu.js
/id.js
/it.js
/ja.js
/km.js
/ku.js
/lv.js
/nb.js
/nl.js
/no.js
/pl.js
/pt-br.js
/pt.js
/ru.js
/si.js
/sk.js
/sl.js
/sq.js
/sv.js
/th.js
/tr.js
/ug.js
/uk.js
/vi.js
/zh-cn.js
/zh.js
